/* stylelint-disable */
.main-feedback {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 50px;
  justify-content: space-around;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
} 

.feedback-container {
  width: 100%;
  height: 60vh;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.btn-container {
  width: 30%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}


.btn-feedback {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
 }
 
 .btn-feedback:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
 }

 .img-feedback {
   width: 20%;
 }