
.main-login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: white
}

.logo {
  width: 20%;
}

.form {
 border-radius: 2%;
 display: flex; 
 height: 450px;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 text-align: center;
 padding-bottom: 20px;
 font-family: 'Ubuntu', sans-serif;
}

.input-login {
  background-color: var(--blue-dark);
  border: 0px;
  border-bottom: 2px solid white;
  color: white
}


.input-login:focus {
  background-color: var(--blue-dark);
  border: 0px;
  border-bottom: 2px solid white;
}


.btn-play, .btn-config {
 border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 17px;
 padding: 0.6em 1.5em;
}

.btn-play, .btn-config:hover {
 background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 #05bada66;
 }

 70% {
  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
 }

 100% {
  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
 }
}

 
.input-login {
  padding: 5px;
  text-align: center;
}
 

