@media only screen and (max-width: 600px) {
  .logo {
    width: 30%;
  }

  .btn-container {
    width: 100%;
  }
}

@media only screen and (min-width: 370px) and (max-width: 500px) {
  .logo {
    width: 50%;
  }

  .img-feedback {
    width: 50%;
  }

  .btn-container {
    width: 100%;
  }

  .ranking-container {
    width: 100%;
  }
  .user-wrapper {
    width: 80%;
  }
  .questions-container {
    width: 80%;
  }
}